- id: 1
  name: Living Room
  host: 192.168.1.100
  appId: "****************"
  apiKey: "************************"
- id: 2
  name: Bedroom
  host: 192.168.1.101
  appId: "****************"
  apiKey: "************************"
